<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="grafikirafiki.Properties.Settings.DZ_grafikConnectionString"
            connectionString="Data Source=DESKTOP-BBAJL13\SQLEXPRESS;Initial Catalog=DZ_grafik;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>